.board {
  width: fit-content;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  top: 4vh;
  font-size: large;
}
table {
  border-collapse: collapse;
}
.discription {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: fit-content;
  top: 4vh;
  text-align: start;
}
.error_msg {
  grid-column: 3;
  grid-row: 1;
  position: relative;
  top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}