*{
    margin: 0px;
    padding: 0.01em 0.4em;
    text-align: center;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.7em;
    margin: 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #03f5e1;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }